Repository vitriolix/defo-ech-apps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*, libs/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

add metadata for this app
  README.md
  metadata/en-US/full_description.txt
  metadata/en-US/short_description.txt
  metadata/en-US/title.txt
Due: none

set app name
  app/src/defo/res/values/strings.xml
  settings.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

include Conscrypt as the only TLS provider
  app/src/defo/java/org/fdroid/fdroid/ConscryptLoader.java
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

force repo to epochbelt.com
  app/src/defo/res/values/default_repos.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

change Privileged Extension App ID, org.fdroid.fdroid.privileged won't work
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

add Cloudflare Trace output to About page
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/layout/about.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

conscrypt-android:2.6.alpha1646248177.job2155710579
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

a bunch of progress, logging, new repo url, etc
  app/build.gradle
  app/src/defo/java/org/fdroid/fdroid/ConscryptLoader.java
  app/src/defo/res/values/default_repos.xml
  app/src/defo/res/values/strings.xml
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/drawable-anydpi-v26/ic_launcher.xml
  app/src/main/res/drawable-anydpi-v26/ic_launcher_background.xml
  app/src/main/res/drawable-anydpi-v26/ic_launcher_foreground.xml
  app/src/main/res/drawable-hdpi/ic_launcher.png
  app/src/main/res/drawable-ldpi/ic_launcher.png
  app/src/main/res/drawable-mdpi/ic_launcher.png
  app/src/main/res/drawable-xhdpi/ic_launcher.png
  app/src/main/res/drawable-xxhdpi/ic_launcher.png
  app/src/main/res/drawable-xxxhdpi/ic_launcher.png
  app/src/main/res/drawable/ic_launcher_monochrome.xml
  gradle/verification-metadata.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone
